build: off
cache:
    - c:\php -> appveyor.yml
    - '%LOCALAPPDATA%\Composer\files -> appveyor.yml'

clone_folder: c:\projects\project

services:
  - postgresql95

environment:
    POSTGRES_PATH: C:\Program Files\PostgreSQL\9.5
    PGUSER: postgres
    PGPASSWORD: Password12!

init:
    - SET PATH=c:\php\71;%PATH%
    - SET ANSICON=121x90 (121x90)
    - SET PATH=%POSTGRES_PATH%\bin;%PATH%

build_script:
    - nuget install redis-64 -excludeversion
    - redis-64\tools\redis-server.exe --service-install
    - redis-64\tools\redis-server.exe --service-start
    - copy Tests\TestCase\.config.appveyor.ini Tests\TestCase\.config.local.ini
    - createdb remembrall_test
    - psql remembrall_test < .\Tests\TestCase\schema.sql
    - psql remembrall_test < .\Tests\TestCase\plpgunit.sql

install:
    - IF EXIST c:\php\71 (SET PHP=0) ELSE (SET PHP=1)
    - IF %PHP%==1 mkdir c:\php\71
    - IF %PHP%==1 cd c:\php\71
    - IF %PHP%==1 appveyor DownloadFile http://windows.php.net/downloads/releases/archives/php-7.1.8-Win32-VC14-x64.zip
    - IF %PHP%==1 7z x php-7.1.8-Win32-VC14-x64.zip >nul
    - IF %PHP%==1 echo extension_dir=ext >> php.ini
    - IF %PHP%==1 echo extension=php_openssl.dll >> php.ini
    - IF %PHP%==1 echo extension=php_mbstring.dll >> php.ini
    - IF %PHP%==1 echo extension=php_xsl.dll >> php.ini
    - IF %PHP%==1 del /Q *.zip

    - cd c:\projects\project
    - copy Tests\php.win.ini c:\php\php.ini

    - appveyor DownloadFile https://getcomposer.org/composer.phar
    - php composer.phar install --no-interaction --prefer-dist --no-scripts --no-progress --no-suggest --optimize-autoloader --classmap-authoritative --ignore-platform-reqs

test_script:
    - vendor/bin/phing snapshots
    - vendor/bin/phing win-tests
    - vendor/bin/phing win-cgi-tests