parameters:
	universalObjectCratesClasses:
		- DateTimeImmutable
		- DOMNode
		- DateInterval
	ignoreErrors:
		# See bug https://github.com/phpstan/phpstan/issues/279
		- '#Method DOMDocument::saveHTML\(\) invoked with 1 parameter, 0 required#'
