<!DOCTYPE html>
<html lang="cs-cz">
<head>
    <meta charset="UTF-8"/>
    <meta name="robots" content="index, follow">
    <link href="{$basePath}/images/favicon32.png" rel="icon" type="image/png"/>
    <title>{ifset title}{include title|stripHtml|trim}{/ifset}</title>
    <meta name="description"
          content="{ifset description}{include description|stripHtml|trim|truncate:150}"{/ifset}>
    <meta name="author" content="Dominik Klapuch"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css"
          href="{$basePath}/css/bootstrap.min.css">
    {ifset styles}{include styles}{/ifset}
</head>
<body>
<div id="wrap">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" n:href="Default:"
                   title="Remembrall"><strong>Remembrall</strong></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="{ifCurrent Parts:}active{/ifCurrent}">
                        <a n:href="Parts:">Parts</a>
                    </li>
                    <li class="{ifCurrent Parts:subscription}active{/ifCurrent}">
                        <a n:href="Parts:subscription">Subscription</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {foreach $flashes as $flash}
            <div class="alert alert-dismissible alert-{$flash->type}">
                {$flash->message}
            </div>
        {/foreach}
        {include content}
    </div>
</div>
<div id="footer">
    <div class="container">
        <p class="muted credit text-center">
            <a href="https://www.github.com/klapuch" class="no-link"
               target="_blank">
                Created with <span id="heart">❤</span>
            </a>
        </p>
    </div>
</div>
<script src="{$basePath}/js/jquery.min.js"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<script src="{$basePath}/js/netteForms.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
{ifset scripts}{include scripts}{/ifset}
</body>
</html>