includes:
    - acl.neon
parameters:
    database:
        driver: mysql
        host: 127.0.0.1
        username: root
        password:
        database: remembrall
        lazy: TRUE
php:
    date.timezone: Europe/Prague
    default_charset: UTF-8
    expose_php: 0
    zlib.output_compression: 1
    session.name: SESSION
    error_reporting: 1
application:
    scanDirs: false
    errorPresenter: Error
    mapping:
        *: Remembrall\*Module\Page\*Page
session:
    autoStart: smart
    expiration: 14 days
    cookie_secure: 1
    use_strict_mode: 1
    cookie_httponly: 1
    entropy_length: 512
    entropy_file: /dev/urandom
http:
    headers:
        X-Frame-Options: DENY
        X-Content-Type-Options: nosniff
        #Strict-Transport-Security: "max-age=31536000; includeSubDomains; preload"
        X-XSS-Protection: "1; mode=block; report=https://bulletpoint.report-uri.io/r/default/csp/enforce"
        X-Powered-By: ""
forms:
    messages:
        FILLED: "Please, fill %label field."
        PROTECTION: "Timeout. Please, make the operation once again."
services:
    connection:
        class: Dibi\Connection(%database%)
    router: Remembrall\Router\RouterFactory::createRouter
    texy: Texy\Texy
    latte.latteFactory:
        setup:
            - addFilter('texy', [@texy, process])